<h1>Times do Brasileirão 2015</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Estado</th>
      <th>Cidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.state %></td>
        <td><%= team.city %></td>
        <td><%= link_to 'Ver time', team %></td>
        <td><%= link_to 'Editar time', edit_team_path(team) %></td>
        <td><%= link_to 'Excluir time', team, method: :delete, data: { confirm: 'Está certo disso?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar novo time', new_team_path %>