<%= form_for(@player, html: { class: 'form-horizontal' }) do |f| %>
<fieldset>
  <% if @player.errors.any? %>
    <div class="container">
      <div class="alert alert-danger">
        <strong>Ocorreram um ou mais erros:</strong> 
        <ul>
          <% @player.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label"><%= f.label :picture %></label>  
    <div class="col-md-4">
      <%= f.file_field :picture, class: 'form-control input-md' %>
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput"><%= f.label :name %></label>  
    <div class="col-md-4">
      <%= f.text_field :name, class: 'form-control input-md' %>
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput"><%= f.label :position %></label>  
    <div class="col-md-4">
      <%= f.text_field :position, class: 'form-control input-md' %>
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput"><%= f.label :age %></label>  
    <div class="col-md-4">
      <%= f.text_field :age, class: 'form-control input-md' %>
    </div>
  </div>

  <% if params[:team_id].present? %>
    <%= f.hidden_field :team_id, value: params[:team_id] %>
  <% end %>

  <!-- Button -->
  <div class="form-group actions">
    <label class="col-md-4 control-label" for="singlebutton"></label>
    <div class="col-md-4">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
</fieldset>
<% end %>