<h1>Jogadores do Brasileirão 2015</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Posição</th>
      <th>Idade</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.position %></td>
        <td><%= player.age %></td>
        <td><%= player.team %></td>
        <td><%= link_to 'Ver jogador', player %></td>
        <td><%= link_to 'Editar jogador', edit_player_path(player) %></td>
        <td><%= link_to 'Excluir jogador', player, method: :delete, data: { confirm: 'Está certo disso?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar novo jogador', new_player_path %>